pentaho.context=pentaho
pentaho.host=pentaho.yoyohr.com
pentaho.protocol=https
pentaho.user.name=username
pentaho.user.password=secret

saiku.host=pentaho.yoyohr.com
saiku.protocol=https
saiku.user.name=username
saiku.user.password=secret